<section>
  <img class="yondline-img" cla src="../assets/logo.png">
  <nav>
      <ul>
          <li><a href="#" class="li-a">Home</a></li>
          <li><a href="#" class="li-a">Serviços</a></li>
          <li><a href="#" class="li-a">Sobre</a></li>
          <li><a href="#" class="li-a">Portfolio</a></li>

          <li class="headerBtnContato"><a href="#" class="cttA">Contato</a></li>
      </ul>
  </nav>

</section>

<h1 class="titulo">Projetos</h1>
<div class="select">
  <select name="filtro" id="">
    <option value="default">Filtrar</option>
    <option value="site">WebSite</option>
    <option value="design">Design</option>
    <option value="video">Edição de vídeo</option>
  </select>
</div>


<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>
</div>

<section class="footer">
  <div class="footer-div">
    <img class="footer-img" src="../assets/footer.png" />
    <p class="footer-p">A YondLine é uma empresa com <br>foco no desenvolvimento de <br>websites, design gráfico,
      edição de vídeo e social media</p>
      <div class="footer-right">
        <ul>
          <h1 class="footer-h1">Contato</h1>
          <li>Instagram</li>
          <li>WhatssApp</li>
          <li>Email</li>
        </ul>
    </div>
  </div>
  <p class="direitos">Todos os direitos reservados © 2021  </p>
</section>
