<section>
    <img src="../assets/logo.png">
    <nav>
        <ul>
            <li><a href="#" class="li-a">Home</a></li>
            <li><a href="#" class="li-a">Serviços</a></li>
            <li><a href="#" class="li-a">Sobre</a></li>
            <li><a href="#" class="li-a">Portfolio</a></li>

            <li class="headerBtnContato"><a href="#" class="cttA">Contato</a></li>
        </ul>
    </nav>
</section>
<app-conteudo></app-conteudo>
<app-servico></app-servico>
<app-projetos></app-projetos>
<app-sobre></app-sobre>
<app-footer></app-footer>
